/*----CSS for tablebuild.html-----*/

* {font-family: "ubuntu", sans-serif;
border: 1px solid black;
border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

/*-----Color Scheme
* #e7f0ed
* #e7ffed (data rows)
* #628ca6
* #7fb9c2
------------------*/

th, tr, td {border: 1px solid black;
border-collapse: collapse;}
