@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  article p.town-article img { width: 29.333%; }
    
    nav ul li a {padding: .6rem 1rem;}
    
    .button {right: 320px;}
/*-----GALLERY PAGE CSS----*/
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
    }
    
 .gallery img:hover, figcaption:hover {box-shadow: 5px 5px 10px grey;}
    
    /*--------STORM CENTER--------*/
    
    form#stormCenter {display: grid;
       grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    
    .submit {position: relative;
    left: 575px;}
    
  
}