/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 15px; 
    line-height: 32px;
    font-family: Bodoni, Helvetica, sans-serif;
    color: #36006f;
    width: 800px;
}

h1 {
    font-size: 2rem;
    color: #9a7257;
    
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #f4fdae;
    
    
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: auto 0;
}

header, footer, footer a {
    text-align: center;
    background-color: #98b287;
    color: #80d8df;
}

header img {
    width: 150px;
    height: auto;
    float: right; 

}
ul {
    font-size: 1rem;
}

footer {
    font-size: 1rem;
    width:auto;
}