@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    * {box-sizing: border-box;}
    
    
/* HOMEPAGE */

    body {
        font-size: 15px;
    }
    .slideshow-container {
        width: 75%;
    float: left;
        margin: 0;
        padding: 0;
    }
    
    .newsletter {
        width: 25%;
    float:right;
        margin: 0;
    }
    
    input.submit {width: 100%;
    display: flex;
    justify-content: center;}
    
    .hp-events {width: 50%;
    float:left;
    margin: 0;}
    
    .hp-about {width: 75%;
    margin: 2%}
    
    /* ADVENTURE TOURS PAGE */

.column {
padding: 0 6px;
float: left;
width: 25%;
}


.dt-info {display: flex;
flex-direction: column;
align-items: center}
.dt-content {width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center
}

    /* EVENTS PAGE */
    
    /* SALES PAGE */
    
    .sales-content {display: grid;
    grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
}

  
}